.powerU_sections {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  /* border:2px solid red; */
}

.powerU_subSections {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 1.5rem;
  margin-bottom: 2rem;
  /* border: 1px solid green */
}

.powerU_module_subText {
  display: none;
}

.powerU_CTA_Link {
  color: whitesmoke;
  text-decoration: underline;
}

.powerU_module_image {
  width: 100%;
  padding-top: 2rem;
}

.powerU_title {
  font-weight: bold;
}

.powerU_bold {
  font-weight: bold;
}

.powerU_subheading {
  font-weight: bold;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.powerU_callToAction {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.powerU_centered_instructions {
  text-align: center;
  color: green;
}

.powerU_quote {
  font-size: 1.5rem;
  line-height: 1.5;
}

.powerU_quote_signature {
  display: inline-block;
  width: 100%;
  text-align: right;
  margin-top: 1.25rem;
  color: #aaa081;
  font-weight: 800;
  font-style: italic;
}

.powerU_timeline_image {
  width: 100%;
  max-width: 500px;
  max-height: 370px;
}

@media (max-width: 1000px) {
  .powerU_testimonial_section {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 2rem;
  }
  .powerU_testimonial_picture {
    margin-bottom: 1rem;
  }
}

@media (max-width: 820px) {
  .powerU_module_subText {
    display: inline-block;
  }
  .powerU_sections {
    display: none;
  }
}

@media (max-width: 625px) {
  .powerU_sections {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 480px) {
  .powerU_sections {
    display: none;
    grid-template-columns: 1fr;
    gap: 0rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .powerU_subSections {
    grid-template-columns: 1fr;
    margin-bottom: 0.5rem;
    direction: rtl;
  }
  .powerU_subSection_image {
    display: none;
  }
}
